@page "/user/"
@inject IUserService UserService;
@inject NavigationManager NavigationManager;

<PageTitle>用户列表</PageTitle>
<div>
    <Button Icon="fa-solid fas fa-plus" Text="添加用户" class="my-2" OnClick="OnHandleCreate"/>
    <Button Icon="fa-solid fa-arrows-rotate" Text="刷新" OnClick="OnClick" class="my-2" />
    <Table TItem="User" Items="@Users" ShowExtendButtons="true" ShowExtendDeleteButton="false" ShowExtendEditButton="false">
        <TableColumns>
            <TableColumn @bind-Field="@context.Id"/>
            <TableColumn @bind-Field="@context.Name" />
            <TableColumn @bind-Field="@context.Address" />
            <TableColumn @bind-Field="@context.CreateTime"/>
        </TableColumns>
        <RowButtonTemplate>
            <TableCellButton Color="Color.Info" Icon="fa-solid fa-pen" Text="编辑" OnClick="(() => OnHandleUpdate(context.Id))"></TableCellButton>
        </RowButtonTemplate>
    </Table>
    @if(Users == null || Users.Count == 0) {
    <div>
        <Empty Image="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg" Width="133" Text="暂时没有用户" />
    </div>
    }
</div>
@code {
    private List<User> Users { get; set; } = new List<User>();

    private async void OnClick() {
        await GetData();
    }

    protected override async Task OnInitializedAsync() {
        await GetData();
    }

    private async Task GetData() {
        var result = await UserService.GetAllAsync();
        if(result != null) {
            Users = result;
        }
    }

    private async Task OnHandleCreate() {
        NavigationManager.NavigateTo($"user/create");
    }

    private async Task OnHandleUpdate(int id) {
        NavigationManager.NavigateTo($"user/{id}");
    }
}
