@page "/delivery/"
@inject IDeliveryService DeliveryService;
@inject NavigationManager NavigationManager;
<h3>派送员管理</h3>
<div>
    <Button Icon="fa-solid fas fa-plus" Text="添加派送员" class="my-2" OnClick="OnHandleCreate"/>
    <Button Icon="fa-solid fa-arrows-rotate" Text="刷新" OnClick="OnClick" class="my-2" />
    <Table TItem="Delivery" Items="@Deliveries" ShowExtendButtons="true" ShowExtendDeleteButton="false" ShowExtendEditButton="false">
        <TableColumns>
            <TableColumn @bind-Field="@context.Id"/>
            <TableColumn @bind-Field="@context.Name" />
            <TableColumn @bind-Field="@context.Address" />
            <TableColumn @bind-Field="@context.Phone" />
            <TableColumn @bind-Field="@context.State" />
            </TableColumns>
        <RowButtonTemplate>
            <TableCellButton Color="Color.Info" Icon="fa-solid fa-pen" Text="编辑" OnClick="(() => OnHandleUpdate(context.Id))"></TableCellButton>
        </RowButtonTemplate>
    </Table>
    @if(Deliveries == null || Deliveries.Count == 0) {
    <div>
        <Empty Image="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg" Width="133" Text="暂时没有派送员" />
    </div>
    }
</div>

@code {
    private List<Delivery> Deliveries { get; set; }

    protected async override Task OnInitializedAsync() {
        var result = await DeliveryService.GetAllAsync();
        if(result != null) {
            Deliveries = result;
        }
    }

    private async Task OnClick() {
        await GetDataAsync();
    }

    private async Task OnHandleCreate() {
        NavigationManager.NavigateTo("/delivery/create");
    }

    private async Task OnHandleUpdate(int id) {
        NavigationManager.NavigateTo($"/delivery/{id}");
    }

    private async Task GetDataAsync() {
        var result = await DeliveryService.GetAllAsync();
        if(result != null) {
            Deliveries = result;
        }
    }
}
